
* {
    font-size: 20px;
}

tr * {
    border-bottom: 2px solid white;
}

td, th {
    text-align: center;
    color: white;
}

th {
    font-weight: bold;
}

#hit-counter th {
    padding: 1rem;
}

.current-split * {
    color: green;
}

.current-split {
    background-color: lightgreen;
}

.good-split, .good-split * {
    color: lime;
}

.bad-split, .bad-split * {
    color: red;
}

.total * {
    font-weight: bold;
    color: lime;
}

.dark {
    background-color: black;
}

.no-modify {
    border: none;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    max-width: 800px;
}

.col-10 {
    width: 83.3%;
}

.col-8 {
    width: 66.6%;
}

.col-2 {
    width: 16.7%;
}

.col-12 {
    width: 100%;
}